# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sianter

# Better Auth
BETTER_AUTH_SECRET=
# generate with: openssl rand -base64 32

# Backend
BASE_URL=http://localhost:3000

# Frontend
FRONTEND_URL=http://localhost:5173
